/*image slider css components */
.slide-container {
  width: 70%;
  margin: auto; }



.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 900px;
  color:rgb(143, 4, 4);
  font-family: cursive;
  
}
/* frist image alteration */
.each-slide span{
  padding-bottom: 10%;
  padding-left: 55%;
  font-size: 50px;
  color:white;
 
}
/* second image alteration */
.each-slide span-1 {
  padding-top: 10%;
  padding-right:55%;
  font-size: 50px;
  color:rgb(231, 20, 20);
 
}
/* third image alteration */
.each-slide span-2 {
  padding-top: 5%;
  padding-left: 55%;
  font-size: 50px;
  color: rgb(226, 43, 217);
 
}





