.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.slide-container {
  width: 70%;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 900px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-background {
  background-image: url("images/4.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.header{
  font-family: monospace;
}
.msg{
  float:right;
  width: 200PX;
  padding-right:290px;
  padding-top:70px;
}
.contact{

border: block 8;
border-block-start-style: solid;
width:300px;
float: left;


  

}
p{
  font-family: cursive;
  color: brown;
  font-weight:bolder;
  font-size: 40px;



}

  

.main{
  text-align: center;
 
  width: 800px;
  margin-left:35%; 
  margin-top:95px;
  height: 650px;
 

}
.quote{
  
  background-size: cover;
}
