.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.slide-container {
  width: 70%;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 900px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img-background {
  background-image: url("images/4.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.header{
  font-family: monospace;
}
.msg{
  float:right;
  width: 200PX;
  padding-right:290px;
  padding-top:70px;
}
.contact{

border: block 8;
border-block-start-style: solid;
width:300px;
float: left;


  

}
p{
  font-family: cursive;
  color: brown;
  font-weight:bolder;
  font-size: 40px;



}

  

.main{
  text-align: center;
 
  width: 800px;
  margin-left:35%; 
  margin-top:95px;
  height: 650px;
 

}
.quote{
  
  background-size: cover;
}
.bg_img {
  background-image: url("images/b.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.text{
  margin-top: 10%;
  width:500px;
  margin-left:35%;
}
.button1{
  margin-left: 10%;
  
  
}

.button2{
  
  margin-right: 10%;
  float: right;
   margin-top:80; 
}
.label{
  color: blue;
}
.mdl-button.mdl-button--facebook {
  color: rgb(63, 81, 181)
}
.mdl-button.mdl-button--facebook:focus:not(:active) {
  background-color: #3b5998
}
.mdl-button--raised.mdl-button--facebook {
  background: #3b5998;
  color: rgb(255, 255, 255)
}
.mdl-button--raised.mdl-button--facebook:hover {
  background-color: #3b5998
}
.mdl-button--raised.mdl-button--facebook:active {
  background-color: #3b5998
}
.mdl-button--raised.mdl-button--facebook:focus:not(:active) {
  background-color: #3b5998
}
.mdl-button--raised.mdl-button--facebook .mdl-ripple {
  background: rgb(255, 255, 255)
}
.table_img {
  background-image:url("images/abc.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
 
  color: white;
}
.tab {
  align-items:center; 
  width: 800px;
  height: 338px;
  background: rgb(255, 217, 0);
  position: relative;
  -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 5s linear 2s infinite alternate;
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

